---
const { title, keywords, description, pagecover } = Astro.props;
// 网站配置
import SITE_INFO from "@/config";
const { GoogleAds } = SITE_INFO;
const { ad_Client, asideAD_Slot, articleAD_Slot } = GoogleAds;
// Head 依赖
import Head from "@/components/Head/Head.astro";
// 顶部 Header
import Header from "@/components/Header/Header.astro";
// 底部 Footer
import Footer from "@/components/Footer/Footer.astro";
// 返回顶部
import BackTop from "@/components/BackTop/BackTop.astro";
// 手机端侧边栏
import MobileSidebar from "@/components/MobileSidebar/MobileSidebar.astro";
// Layout 样式
import "./Layout.less";
---

<html lang="zh-CN">
	<Head Title={title} Keywords={keywords} Description={description} PageCover={pagecover}>
		<!-- 谷歌广告JS加载项 -->
		{ad_Client && (asideAD_Slot || articleAD_Slot) && <script is:inline async src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=${ad_Client}`} crossorigin="anonymous" />}
	</Head>
	<body>
		<MobileSidebar />
		<Header />
		<main class="vh-main">
			<slot />
		</main>
		<Footer />
		<BackTop />
		<script>
			import InitFn from "@/scripts/Init";
			// 全局初始化
			InitFn();
		</script>
	</body>
</html>
