---
const { data } = Astro.props;
// 处理页码
import { fmtPage } from "../utils/index";
// 翻页组件样式
import "../styles/components/Pagination.less";
---

<section class="vh-article-pagination">
	<!-- 上一页 -->
	<a class={`vh-pagination-item${!data.prev ? " disabled" : ""}`} href={data.prev}>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
			<path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"></path>
		</svg>
	</a>
	<!-- 首页 -->
	{
		data.first && data.prev && (
			<a class={`vh-pagination-item`} href={data.first}>
				1
			</a>
		)
	}
	<!-- 总页的前一页 -->
	{
		(!data.next || !data.last) && data.prev && (
			<a class={`vh-pagination-item`} href={data.prev}>
				{fmtPage(data.prev)}
			</a>
		)
	}
	<!-- 当前页 -->
	<a class="vh-pagination-item active">{fmtPage(data.current) || "1"}</a>
	<!-- 第一页的后一页 -->
	{
		(!data.prev || !data.first) && data.next && (
			<a class={`vh-pagination-item`} href={data.next}>
				{fmtPage(data.next)}
			</a>
		)
	}
	<!-- 总页 -->
	{
		data.next && data.last && (
			<a class={`vh-pagination-item`} href={data.last}>
				{fmtPage(data.last)}
			</a>
		)
	}
	<!-- 下一页 -->
	<a class={`vh-pagination-item${!data.next ? " disabled" : ""}`} href={data.next}>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
			<path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path>
		</svg>
	</a>
</section>
